
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isProfessorOfStudent(studentId) {
      return isSignedIn() && exists(/databases/$(database)/documents/professors/$(request.auth.uid)/students/$(studentId));
    }

    function isProfessor() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.userType == 'professor';
    }

    // Perfis de usuários e subcoleções diretas
    match /users/{userId} {
      allow read: if isSignedIn();
      // Permite que o dono edite seu perfil OU um professor crie o perfil inicial de um aluno
      allow create: if isSignedIn();
      allow update: if isOwner(userId) || isProfessorOfStudent(userId);

      match /{allSubcollections=**} {
        allow read, write: if isOwner(userId) || isProfessorOfStudent(userId);
      }
    }

    // ACL Professor-Aluno
    match /professors/{professorId}/students/{studentId} {
      allow read: if isOwner(professorId);
      allow write: if isOwner(professorId) || (isSignedIn() && request.auth.uid == studentId);
    }

    // Regras para Tokens de Autenticação
    match /auth_codes/{email} {
      allow read, write: if true; 
    }

    match /{path=**}/workoutSessions/{sessionId} {
      allow read: if isSignedIn() && (
        (request.auth.uid == resource.data.userId) || 
        exists(/databases/$(database)/documents/professors/$(request.auth.uid)/students/$(resource.data.userId))
      );
    }

    match /{path=**}/exercises/{exerciseId} {
      allow read: if isSignedIn() && (
        (request.auth.uid == resource.data.userId) || 
        exists(/databases/$(database)/documents/professors/$(request.auth.uid)/students/$(resource.data.userId))
      );
    }
    
    // Suporte para histórico plano
    match /users/{userId}/workoutHistory_flat/{id} {
      allow read, write: if isOwner(userId) || isProfessorOfStudent(userId);
    }
    match /users/{userId}/exerciseHistory_flat/{id} {
      allow read, write: if isOwner(userId) || isProfessorOfStudent(userId);
    }
  }
}
